.body{
    margin: 0;
    padding: 0;

}
header{
    text-align: center;
    color: green;
}
.first-section{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.informaton-side{
    width: 50%;
}
.image-side img{
    margin-left: 47%;
    width: 250px;
}
.details-button{
    padding: 10px 20px;
    background: linear-gradient(rgb(212, 200, 21),rgb(122, 160, 122),rgb(84, 84, 124),rgb(160, 91, 91));
    border-radius: 3px;
    border: none;
}
.details-button:hover{
    cursor: pointer;
    color: green;
}
.secound-section{
    margin-top: 20px;
    text-align: center;
}
.heading-secound-section{
    text-align: center;
}
.divition{
    width: 250px;
    border: 2px solid gray;
    box-shadow: 10px 5px 12px gray;
    
}
.divition img{
    width: 100%;
}
.all-divition{
    display: flex;
    justify-content: space-around;
    padding: 23px;
}
.footer-area{
    text-align: center;
}
